@font-face {
	font-family: myFirstFont;
	src:url('./assets/fonts/Poppins-Regular.ttf'), format('truetype');
}

@font-face {
	font-family: mySecondFont;
	src:url('./assets/fonts/Poppins-ExtraBoldItalic.ttf'), format('truetype');
}

@font-face {
	font-family: myThirdFont;
	src:url('./assets/fonts/Poppins-Bold.ttf'), format('truetype');
}
:root{


--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);

}
*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
@media only screen and (min-width: 560px) {
.main{
	height: 100%;
	padding: 20px;
	width: 100%;
	background: linear-gradient(to top,hsla(244, 100%, 52%, 0.075)50%,hsla(244, 100%, 52%, 0.075)50%), url(./assets/img/Screenshot_3-11-2024_213023_mfmteens.org.jpeg) ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation: change-background 4.5s linear infinite;
    
}
nav{
	display: flex;
	align-items: center;
	& .btn{
		margin-left: 300px;
	}
	& .logo{
		width: 200px;
		display: flex;
		font-size: 18px;
		padding: 10px;
		& img{
			width: 35%;
			border-radius: 50%;
			margin: 5px;
			margin-top: 20px;
		}
		& h4{
			width: 65%;
			color: #d1d4d7;
			margin-left: 10px;
			padding-top: 33px;
			font-family: sans-serif;
			text-transform: uppercase;
			font-weight: 600;
			& strong{
				display: block;
				font-weight: 700;
				color: var(--White);
				font-family: sans-serif;
				font-style: normal;

			}
		}
	}
}
ul{
	display: flex;
	margin-left: 250px;
	margin-top: 20px;

}
li{
	list-style: none;
	margin: 15px;
	font-family: sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
	color: var(--Off-white);
	transition: .2s;
}
li:hover{
	transition: .4s;
	color: rgba(255, 217, 0, 0.836);
}
.btn button{
	border-radius: 7px;
	margin: 10px;
	padding: 8px;
	cursor: pointer;
	letter-spacing: 1.5px;
	font-family: sans-serif;
	transition: .2s;
	text-transform: capitalize;
    border: 2px solid var(--White);
    background: transparent;
    color: var(--Off-white);
}
.btn button:nth-child(1):hover{
   transition: 0.5s;
   border: 2px solid var(--Off-white);
   color: rgba(255, 217, 0, 0.836);
}
.btn button:nth-child(2){
	background: transparent;
	color: var(--Off-white);
}
.btn button:nth-child(2):hover{
	transition: 0.5s;
	border: 2px solid var(--Off-white);
	color: rgba(255, 217, 0, 0.836);
}
.greeting{
	top: 20px;
}
.greeting h1{
	font-size: 80px;
	margin-top: 30px;
	margin-left: 30%;
	font-weight: bolder;
	text-transform: capitalize;
	font-family: sans-serif;
	color: var(--Off-white);
	letter-spacing: 1.5px;
}
.greeting h1 span{
	padding-left: 50px;
	color: rgb(255, 214, 31);
}
.greeting div{
	margin-top: 40px;
	border: 2px solid rgb(255, 214, 31);
	padding: .35%;
	border-radius: 30px;
	width: 200px;
	height: 40px;
	transition: .4s;
	cursor: pointer;
	justify-self: center;
	text-align: center;
	& button{
		background: rgb(22, 104, 255);
		border-radius: 30px;
		width: 100%;
		height: 100%;
		cursor: pointer;
		letter-spacing: 1.5px;
		font-family: sans-serif;
		transition: .4s;
		font-size: 16px;
		border: none;
		color: var(--White);
		&:hover {
			color: rgb(255, 214, 31);
			background: transparent;
			transition: .9s;
		}
	}
}

.upcoming-event{
	text-align: center;
	color: var(--White);
	margin: 0px;
	font-family: sans-serif;
}
.upcoming-event h1{
	color: var(--White);
	font-size: x-large;
	margin-top: 10px;
	margin-bottom: 10px;
}
.upcoming-event h4{
	margin-top: 50px;
}
.countdown{
	display: flex;
	gap: 7px;
	font-family: serif;
	justify-self: center;
	& button{
		padding: 10px;
		color: var(--White);
		border: 1px solid var(--Off-white);
		border-radius: 50%;
		background-color: transparent;
		cursor: grabbing;
		&h2 {
			color: var(--White);
			font-size: larger;
			& span {
				font-size: 10px;
				font-weight: lighter;
			}
		}
		&:hover {
			margin-left: 10px;
			transition: .3s;
		}
	}
}

.space {
	width: 100%;
	height: 10px;
	background: hsl(244, 100%, 11%)50%;
}
.more {
	display: grid;
	width: 100%;
	gap: 15px;
	padding-top: 2.5%;
	padding-left: 4%;
	font-family: serif;
	background: hsl(244, 100%, 14%)50%;
	padding-bottom: 7%;
	& h4 {
		text-align: center;
		color: #587eda;
	}
	& p {
		text-align: center;
		color: var(--White);
		letter-spacing: 1.2px;
		font-size: xx-large;	
	}
	& .list {
		width: 92%;
		padding: 15px;
		border-radius: 8px;
		margin-top: 20px;
		background: hsla(236, 85%, 69%, 0.082)50%;
		& ul {
			padding: 0;
			margin: 0;
			display: grid;
			grid-template-columns: repeat(3, 2fr);
			& li {
				font-size: larger;
				color: var(--Off-white);
			}
		}
	}
}

.upcoming {
	background: white;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	& h4 {
		color: blue;
		font-family: sans-serif;
	}
	& .cards {
		display: grid;
		grid-template-columns: repeat(2, 3fr);
		grid-gap: 15px;
		font-family: sans-serif;
		margin-top: 30px;
		& .card {
			display: flex;
			width: 96%;
			background: #f5f6fa;
			padding: 10px;
			padding-left: 0;
			border-radius: 8px;
			& img {
				width: 100%;
				height: 250px;
				border-radius: 8px;
				
			}
			& div {
				display: grid;
				margin: 0;
				padding: 0;
				padding-left: 20px;
				& h5 {
					background-color: var(--White);
					color: #1b5af4;
					text-align: center;
					width: 120px;
					height: 25px;
					font-weight: 600;
					letter-spacing: 1.2px;
					border-radius: 30px;
					padding-top: 11.5px;
				}
				& h4 {
					color: #1b5af4;
					text-align: start;
					font-weight: 600;
					letter-spacing: 1.2px;
					font-size: medium;
				}
				& p {
					color: black;
					font-size: x-large;
					font-weight: bold;
				}
				& .btn button{
					width: 140px;
					height: 40px;
					border-radius: 18px;
					overflow: hidden;
					border: none;
					background: #d1d4d7;
					color: black;
					font-size: medium;
					font-weight: 600;
				}
			}
		}
	}
}

.updated {
	background: #1b5af4;/* remeber to add linear gradients*/
	padding: 05%;
	width: 100%;
	height: 100%;
	position: static;
	& span {
		position: absolute;
		font-family: sans-serif;
		font-size: 120px;
		font-weight: bold;
		margin-top: 7.5%;
		&:nth-child(1) {
			color: white;
			padding-left: 20%;
		}
		&:nth-child(2) {
			color: rgb(241, 205, 0);
			padding-left: 33%;
			padding-top:10%;
		} 
	}
	& .card {
		display: flex;
		width: 35%;
		font-family: sans-serif;
		background: transparent;
		padding: 9px;
		height: 250px;
		padding-left: 0;
		border-radius: 8px;
		margin-top: 22%;
		border: 2px solid palevioletred;
		box-shadow: red;
		& img {
			overflow-y: hidden;
			width: 100%;
			height: 250px;
			min-height: 270px;
			border-radius: 8px;
			
		}
		& div {
			display: grid;
			margin: 0;
			padding: 0;
			padding-left: 20px;
			& h5 {
				background-color: var(--White);
				color: #1b5af4;
				text-align: center;
				width: 120px;
				height: 25px;
				font-weight: 600;
				letter-spacing: 1.2px;
				border-radius: 30px;
				padding-top: 11.5px;
			}
			& h4 {
				color: #1b5af4;
				text-align: start;
				font-weight: 600;
				letter-spacing: 1.2px;
				font-size: medium;
			}
			& p {
				color: black;
				font-size: x-large;
				font-weight: bold;
			}
			& .btn button{
				justify-self: start;
				width: 140px;
				height: 40px;
				border-radius: 18px;
				border: none;
				background: rgba(255, 217, 0, 0.836);
				color: black;
				font-size: medium;
				font-weight: 600;
				margin: 0;
			}
		}
	}
}

.ministries {
	background: white;
	padding: 5%; 
	& h4 {
		color: #1556f8;
		font-size: medium;
		font-family: sans-serif;
	}
	& p {
		color: black;
		padding-top: 25px;
		font-family: sans-serif;
		font-size: xx-large;
		letter-spacing: 1.2px;
		line-height: 40px;
	}
	& .mincards {
		justify-self: right;
		display: grid;
		grid-gap: 10px;
		width: 100%;
		margin-top: 50px;
		& .mincard {
			padding: 20px;
			width: 37%;
			background: rgb(255, 0, 0);
			border-radius: 12px;
			font-family: sans-serif;
			& h2 {
				font-size: 57px;
				color: black;
			}
			& p {
				font-size: medium;
				line-height: 25px;
				color: #d1d4d7;
			}
			& .btn button {
				background-color: #0036cc;
				color: white;
				border-radius: 20px;
				width: 120px;
				padding: 12px;
				font-weight: 600;
				border: none;
				margin: 0;
				margin-top: 20px;
			}
		}
	}
}

.give {
	background: #0036cc;
	text-align: center;
	font-family: sans-serif;
	padding: 10%;
	& h4 {
		font-size: larger;
		color: rgb(255, 214, 31);
	}
	& h1 {
		color: white;
		font-size: 49px;
		padding-top: 70px;	
	}
	& .btn button{
		background: rgb(255, 208, 0);
		padding: 13px;
		width: 160px;
		color: black;
		border-radius: 23px;
		font-size: large;
		border: none;
		font-weight: 500;
		margin-top: 70px;
	}
}

.reachout {
	padding: 10%;
	padding-right: 6%;
	font-family: sans-serif;
	& h4 {
		color: #1b5af4;
		letter-spacing: 1.1px;
	}
	& .flex {
		width: 90%;
		display: flex;
		gap: 5%;
		margin-top: 50px;
		& h2 {
			font-size: 47px;
			width: 50%;
			letter-spacing: 1.2px;
			color: black;
		}
		& span {
			width: 50%;
			line-height: 35px;
			font-size: x-large;
			letter-spacing: 1.2px;
			color: grey;
		}
	}
	& .reachout-cards {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		grid-gap: 20px;
		width: 90%;
		margin-top: 50px;
		& .reachout-card {
			overflow: hidden;
			background: rgb(32, 32, 32);
			width: 84%;
			border-radius: 7px;
			padding-top: 28%;
			padding-left: 8%;
			padding-right: 8%;
			padding-bottom: 10%;
			& h2 {
				font-size: 40px;
				color: white;
			}
			& p {
				padding-top: 30px;
				color: #d1d4d7;
				font-size: larger;
				letter-spacing: 1.1px;
				line-height: 30px;
			}
			& .btn button{
				background: rgb(255, 208, 0);
				padding: 10px;
				width: 150px;
				color: black;
				border-radius: 23px;
				font-size: large;
				border: none;
				margin-top: 50px;
			}
		}
	}
}

footer {
	background: hsl(244, 100%, 11%)50%;
	padding: 5%;
	margin-top: 100px;
	display: flex;
	width: 100%;
	& .logo{
		width: 21%;
		height: 90px;
		display: flex;
		font-size: 18px;
		padding: 10px;
		& img{
			width: 32%;
			border-radius: 50%;
			margin: 5px;
			margin-top: 20px;
		}
		& h4{
			width: 100%;
			color: #d1d4d7;
			margin-left: 10px;
			padding-top: 33px;
			font-family: sans-serif;
			text-transform: uppercase;
			font-weight: lighter;
			& strong{
				display: block;
				color: var(--White);
				font-family: sans-serif;
				font-style: normal;
			}
		}
	}
	& .links {
		display: flex;
		gap: 100px;
		width: 71%;
		margin-left: 12%;
		margin-top: 2%;
		& ul {
			display: grid;
			padding: 0%;
			margin: 0;
			font-family: sans-serif;
			& h3 {
				color: rgb(255, 208, 0);
				padding-left: 12px;
				font-weight: 600;
				margin-bottom: 40px;
			}
			& li {
				color: #d1d4d7;		
			}
		}
	}
}
}
@media only screen and (max-width: 550px) {
	body .main{
		width: 100%;
		margin: 0;
		padding: 20px;
		background: linear-gradient(to top,hsla(244, 100%, 52%, 0.075)50%,hsla(244, 100%, 52%, 0.075)50%), url(./assets/img/Screenshot_3-11-2024_213023_mfmteens.org.jpeg) ;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		animation: change-background 4.5s linear infinite;
	}
	.main {
		& nav .ul,.btn{
			display: none;
		}
		& nav .logo{
			width: 50%;
			height: 90px;
			display: flex;
			font-size: medium;
			margin-top: 0;
			& img{
				width: 35%;
				border-radius: 50%;
				margin: 5px;
				height: 45px;
				margin-top: 10px;
			}
			& h4{
				width: 100%;
				color: #d1d4d7;
				margin-left: 10px;
				padding-top: 12px;
				font-family: sans-serif;
				text-transform: uppercase;
				font-weight: lighter;
				& strong{
					display: block;
					color: var(--White);
					font-family: sans-serif;
					font-style: normal;
				}
			}
		}
	}
	.greeting{
		top: 20px;
	}
	.greeting h1{
		font-size: 33px;
		margin-top: 30px;
		margin-left: 13%;
		font-weight: bolder;
		text-transform: capitalize;
		font-family: sans-serif;
		color: var(--Off-white);
		letter-spacing: 1.5px;
	}
	.greeting h1 span{
		padding-left: 7%;
		color: rgb(255, 214, 31);
	}
	.greeting div{
		margin-top: 30px;
		border: 2px solid rgb(255, 214, 31);
		padding: .40%;
		border-radius: 30px;
		width: 40%;
		height: 30px;
		transition: .4s;
		cursor: pointer;
		justify-self: center;
		text-align: center;
		& button{
			background: rgb(22, 104, 255);
			border-radius: 30px;
			width: 100%;
			height: 100%;
			cursor: pointer;
			letter-spacing: 1.5px;
			font-family: sans-serif;
			transition: .4s;
			font-size: 14px;
			border: none;
			color: var(--White);
			&:hover {
				color: rgb(255, 214, 31);
				background: transparent;
				transition: .9s;
			}
		}
	}
	
	.upcoming-event{
		text-align: center;
		color: var(--White);
		margin: 0px;
		font-family: sans-serif;
	}
	.upcoming-event h1{
		color: var(--White);
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.upcoming-event h4{
		margin-top: 50px;
		font-size: small;
	}
	.countdown{
		display: flex;
		gap: 4px;
		font-family: serif;
		justify-self: center;
		& button{
			width: 100%;
			padding: 10px;
			color: var(--White);
			border: 1px solid var(--Off-white);
			border-radius: 50%;
			background-color: transparent;
			cursor: grabbing;
			& p {
				color: var(--White);
				font-size: large;
				font-weight: 600;
				& span{
					font-size: 16px;
					font-weight: lighter;
				}
			}
		}
	}
	
	.space {
		width: 100%;
		height: 10px;
		background: hsl(244, 100%, 11%)50%;
	}
	.more {
		display: grid;
		width: 100%;
		gap: 15px;
		padding-top: 2.5%;
		padding-left: 4%;;
		font-family: serif;
		background: hsl(244, 100%, 14%)50%;
		padding-bottom: 7%;
		& h4 {
			text-align: start;
			color: #587eda;
			font-size: medium;
		}
		& p {
			text-align: start;
			color: var(--White);
			letter-spacing: 1.2px;
			font-size: larger;
			width: 90%;	
		}
		& .list {
			width: 88%;
			padding: 10px;
			border-radius: 8px;
			margin-top: 20px;
			background: hsla(236, 85%, 69%, 0.082)50%;
			& ul {
				padding: 0;
				margin: 0;
				display: grid;
				gap: 13px;
				grid-template-columns: repeat(1, 2fr);
				& li {
					font-size: larger;
					color: var(--Off-white);
				}
			}
		}
	}
	
	.upcoming {
		background: white;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 3%;
		& h4 {
			color: blue;
			font-family: sans-serif;
		}
		& .cards {
			display: grid;
			grid-template-columns: repeat(1, 3fr);
			grid-gap: 15px;
			font-family: sans-serif;
			margin-top: 30px;
			& .card {
				display: flex;
				width: 96%;
				background: #f5f6fa;
				padding: 10px;
				padding-left: 0;
				border-radius: 8px;
				& img {
					width: 100%;
					height: 200px;
					border-radius: 8px;
					
				}
				& div {
					display: grid;
					margin: 0;
					padding: 0;
					padding-left: 20px;
					& h5 {
						background-color: var(--White);
						color: #1b5af4;
						text-align: center;
						width: 80%;
						height: 25px;
						font-weight: 600;
						letter-spacing: 1.2px;
						border-radius: 30px;
						padding-top: 11.5px;
						font-size: 14.5px;
					}
					& h4 {
						color: #1b5af4;
						text-align: start;
						font-weight: 600;
						letter-spacing: 1.2px;
						font-size: 14px;
					}
					& p {
						color: black;
						font-size: 18px;
						font-weight: bold;
					}
					& .btn button{
						width: 100%;
						height: 40px;
						border-radius: 18px;
						overflow: hidden;
						border: none;
						background: #d1d4d7;
						color: black;
						font-size: 14px;
						font-weight: 600;
						margin-left: -19%;
					}
				}
			}
		}
	}
	
	.updated {
		background: #1b5af4;/* remeber to add linear gradients*/
		padding: 05%;
		width: 100%;
		height: 100%;
		position: static;
		& span {
			position: absolute;
			font-family: sans-serif;
			font-size: 120px;
			font-weight: bold;
			margin-top: 7.5%;
			&:nth-child(1) {
				color: white;
				padding-left: 20%;
			}
			&:nth-child(2) {
				color: rgb(241, 205, 0);
				padding-left: 33%;
				padding-top:10%;
			} 
		}
		& .card {
			display: flex;
			width: 35%;
			font-family: sans-serif;
			background: transparent;
			padding: 9px;
			height: 250px;
			padding-left: 0;
			border-radius: 8px;
			margin-top: 22%;
			border: 2px solid palevioletred;
			box-shadow: red;
			& img {
				overflow-y: hidden;
				width: 100%;
				height: 250px;
				min-height: 270px;
				border-radius: 8px;
				
			}
			& div {
				display: grid;
				margin: 0;
				padding: 0;
				padding-left: 20px;
				& h5 {
					background-color: var(--White);
					color: #1b5af4;
					text-align: center;
					width: 120px;
					height: 25px;
					font-weight: 600;
					letter-spacing: 1.2px;
					border-radius: 30px;
					padding-top: 11.5px;
				}
				& h4 {
					color: #1b5af4;
					text-align: start;
					font-weight: 600;
					letter-spacing: 1.2px;
					font-size: medium;
				}
				& p {
					color: black;
					font-size: x-large;
					font-weight: bold;
				}
				& .btn button{
					justify-self: start;
					width: 140px;
					height: 40px;
					border-radius: 18px;
					border: none;
					background: rgba(255, 217, 0, 0.836);
					color: black;
					font-size: medium;
					font-weight: 600;
					margin: 0;
				}
			}
		}
	}
	
	.ministries {
		background: white;
		padding: 5%; 
		margin-top: 60px;
		& h4 {
			color: #1556f8;
			font-size: 14.5px;
			font-family: sans-serif;
		}
		& p {
			color: black;
			padding-top: 25px;
			font-family: sans-serif;
			font-size: larger;
			letter-spacing: 1.2px;
			line-height: 40px;
		}
		& .mincards {
			justify-self: right;
			display: grid;
			grid-gap: 10px;
			width: 100%;
			margin-top: 50px;
			& .mincard {
				padding: 20px;
				width: 80%;
				background: rgb(255, 0, 0);
				border-radius: 12px;
				font-family: sans-serif;
				& h2 {
					font-size: 25px;
					color: black;
				}
				& p {
					font-size: 13.5px;
					line-height: 25px;
					color: #d1d4d7;
				}
				& .btn button {
					background-color: #0036cc;
					color: white;
					border-radius: 20px;
					width: 40%;
					padding: 12px;
					font-weight: 500;
					border: none;
					margin: 0;
					margin-top: 20px;
					font-size: 14px;
				}
			}
		}
	}
	
	.give {
		background: #0036cc;
		text-align: center;
		font-family: sans-serif;
		padding: 10%;
		& h4 {
			font-size: large;
			color: rgb(255, 214, 31);
		}
		& h1 {
			color: white;
			font-size: 30px;
			padding-top: 70px;	
		}
		& .btn button{
			background: rgb(255, 208, 0);
			padding: 13px;
			width: 55%;
			color: black;
			border-radius: 23px;
			font-size: large;
			border: none;
			font-weight: 500;
			margin-top: 70px;
		}
	}
	
	.reachout {
		padding: 10%;
		padding-right: 6%;
		font-family: sans-serif;
		& h4 {
			color: #1b5af4;
			letter-spacing: 1.1px;
			font-size: 14.5px;
		}
		& .flex {
			width: 90%;
			display: flex;
			gap: 5%;
			margin-top: 50px;
			& h2 {
				font-size: 30px;
				width: 50%;
				letter-spacing: 1.2px;
				color: black;
			}
			& span {
				width: 50%;
				line-height: 28px;
				font-size: 14px;
				letter-spacing: 1.2px;
				color: grey;
			}
		}
		& .reachout-cards {
			display: grid;
			grid-template-columns: repeat(1, 2fr);
			grid-gap: 20px;
			width: 90%;
			margin-top: 50px;
			& .reachout-card {
				overflow: hidden;
				background: rgb(32, 32, 32);
				width: 84%;
				border-radius: 7px;
				padding-top: 28%;
				padding-left: 8%;
				padding-right: 8%;
				padding-bottom: 10%;
				& h2 {
					font-size: 40px;
					color: white;
				}
				& p {
					padding-top: 30px;
					color: #d1d4d7;
					font-size: larger;
					letter-spacing: 1.1px;
					line-height: 30px;
				}
				& .btn button{
					background: rgb(255, 208, 0);
					padding: 10px;
					width: 150px;
					color: black;
					border-radius: 23px;
					font-size: large;
					border: none;
					margin-top: 50px;
				}
			}
		}
	}
	
	footer {
		background: hsl(244, 100%, 11%)50%;
		padding: 5%;
		margin-top: 100px;
		display: flex;
		width: 100%;
		& .logo{
			width: 21%;
			height: 90px;
			display: flex;
			font-size: 18px;
			padding: 10px;
			& img{
				width: 32%;
				border-radius: 50%;
				margin: 5px;
				margin-top: 20px;
			}
			& h4{
				width: 100%;
				color: #d1d4d7;
				margin-left: 10px;
				padding-top: 33px;
				font-family: sans-serif;
				text-transform: uppercase;
				font-weight: lighter;
				& strong{
					display: block;
					color: var(--White);
					font-family: sans-serif;
					font-style: normal;
				}
			}
		}
		& .links {
			display: flex;
			gap: 100px;
			width: 71%;
			margin-left: 12%;
			margin-top: 2%;
			& ul {
				display: grid;
				padding: 0%;
				margin: 0;
				font-family: sans-serif;
				& h3 {
					color: rgb(255, 208, 0);
					padding-left: 12px;
					font-weight: 600;
					margin-bottom: 40px;
				}
				& li {
					color: #d1d4d7;		
				}
			}
		}
	}	
}